@model Dictionary<string,string>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>工作日誌檢視分析工具</h1>
        @if (Model.ContainsKey("error"))
        {
            <div class="alert alert-warning" role="alert">
                @Model["error"]
            </div>
        }
        <form action="/Home/Search">
            <div class="form-group">
                <label for="registry">行事曆註冊表ID</label>
                <input type="text" class="form-control" id="registry" name="id" required>
            </div>
            <div class="form-group">
                <label for="start">最早日期</label>
                <input type="date" class="form-control" id="start" name="start">
            </div>
            <div class="form-group">
                <label for="start">最晚日期</label>
                <input type="date" class="form-control" id="end" name="end">
            </div>
            <button type="submit" class="btn btn-primary">查詢</button>
        </form>
    </div>
</body>
</html>